flask
Flask-SQLAlchemy
Flask-Limiter
google-genai>=0.4.0
groq
beautifulsoup4
gunicorn
pandas
numpy
matplotlib
seaborn
scipy
scikit-learn
authlib
requests
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
openpyxl
python-docx
